<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>799482590596-ojm7h825ub20lin65ov7gu9r0q9oo8kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799482590596-ojm7h825ub20lin65ov7gu9r0q9oo8kq</string>
	<key>API_KEY</key>
	<string>AIzaSyDosgcT_gfdyNv_W-pEVHI5DRZJI2y_RO8</string>
	<key>GCM_SENDER_ID</key>
	<string>799482590596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>speak.SpeechAI</string>
	<key>PROJECT_ID</key>
	<string>speechai2</string>
	<key>STORAGE_BUCKET</key>
	<string>speechai2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799482590596:ios:4299b20187d5c244</string>
	<key>DATABASE_URL</key>
	<string>https://speechai2.firebaseio.com</string>
</dict>
</plist>